[Desktop Entry]
Type=Application
Name=Atomiks
Comment=assemble a molecule from the atoms
Icon=atomiks
Exec=atomiks
Categories=Game;PuzzleGame;
Terminal=false
StartupNotify=false
